.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 2rem 0;
    grid-column-gap: 2rem;
}

body {
    background-color: aliceblue;
}

.bg-body-tertiary {
    --bs-tertiary-bg-rgb: 144, 238, 144; 
    --bs-bg-opacity: 0.8;
}

.card-link {
    text-decoration: none;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-size: x-large;
}

.container, .bio {
    padding-top: 2rem;
}

.bio {
    font-size: 1.45rem;
}